body{
    background-color: rgb(155, 155, 155);
    display: grid;
    place-content: center;
    max-width: 50rem;
    margin: auto;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    place-content: center;
}
nav button{
    border: none;
    background: none;
    font-size: 22px;
}
nav button:hover{
    color:white;
    cursor: pointer;
}
#head{
    text-align: center;
}
#head p{
    font-size: 18px;
}
#sweetrolls{
    max-width: 50rem;
}